<!DOCTYPE html>
<html>
  <head>
    <title>Thinknetica3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= render 'shared/header' %>
  </body>
</html>
